<div>
	<table>
		<tr>
			<td>Имя</td>
			<td>{{post.name}}</td>
		</tr>
		<tr>
			<td>Телефон</td>
			<td>{{post.phone}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{post.email}}</td>
		</tr>
		<tr>
			<td>Сообщение</td>
			<td>{{post.message}}</td>
		</tr>
		<tr>
			<td>Круиз</td>
			<td>{{cruise.name}} {{cruise.startDate | date(" Y - m - d ")}} {{cruise.ship.name}}
			

			
			</td>
		</tr>
	</table>
</div>