<div>
	<table>
		<tr>
			<td>Имя</td>
			<td>{{post.name}}</td>
		</tr>
		<tr>
			<td>Телефон</td>
			<td>{{post.phone}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{post.email}}</td>
		</tr>
		<tr>
			<td>Взрослых</td>
			<td>{{post.adult}}</td>
		</tr>
		<tr>
			<td>Детей</td>
			<td>{{post.child}}</td>
		</tr>
		<tr>
			<td>Сообщение</td>
			<td>{{post.message}}</td>
		</tr>
		<tr>
			<td>Круиз</td>
			<td>{{cruise.name}} <b>{{cruise.startDate  | localizeddate('full', 'none', null, null, 'dd MMMM Y')}}</b> {{cruise.ship.name}}
			

			
			</td>
		</tr>
	</table>
</div>