<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="description" content="{% block description %}Речные круизы из Москвы. Круизы по Волге.{% endblock %}">
		<meta name="keywords" content="{% block keywords %}речные круизы, Москва, туры на теплоходе, круизы выходного дня, круизы по Волге, круизы по рекам, отдых на теплоходах{% endblock %}">		
        <title>{% block title %}Welcome!{% endblock %}</title>
        {#% block stylesheets %}{% endblock %#}
		
		
		
{% stylesheets 
	output="css/styles.css"
	
	'css/bootstrap.min.css'
	'css/bootstrap-slider.css'
	'css/style.css'
	'css/fancybox/jquery.fancybox.css'
	'css/bootstrap-theme.min.css'
	
	filter='yui_css'
	%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<style>
.header {
	height: 196px;
	background:url(/img/header.png) no-repeat top center;

}
</style>
		
		
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
		{% block admin %}
		{% endblock %}
		<div class="container">
		<div class="row">

		
		<header class="header">
		<div class="header_top" >
			<a href="{{path('homepage')}}" class="logo"></a>
			<div>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
					<a href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
					</a>
				{% else %}
				   <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
				{% endif %}
			</div>
		</div>
		<div>
			{{ render(controller('BaseBundle:Menu:getMenu')) }}

		</div>
		</header><!-- .header-->
{% block slider %}

{% endblock %}	


		
			<div class="container" style="background:#fff;">
			<div class="col-xs-12 search-main">
			{{ render(controller('CruiseBundle:Search:searchForm')) }}
			</div>			
			
				{% block body %}{% endblock %}
			</div>
		
			
		</div><!--.row-->
		
		<div class="row">
			<footer>
			</footer>
		</div>
		</div><!--.container-->
		
        
		<script async src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		
{% javascripts  output='js/js.js' 'js/bootstrap.min.js' 'js/bootstrap-slider.js' 'js/jquery.fancybox.js' filter='yui_js' %}
    <script async src="{{ asset_url }}"></script>
{% endjavascripts %}		
		
		<script>
			window.onload = function() {
				$('.photo').fancybox();
				$("#days").slider({});
			{% block javascriptsonload %}{% endblock %}	
			}
		</script>
		{% block javascripts %}{% endblock %}
    </body>
</html>
