<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
		
		<title>{% block title %}{% if page is defined %}{{ page.title }}{% endif %}{% endblock %}</title>
		<meta name="description" content="{% block description %}Круизный магазин — {% if page is defined %}{{ page.h1 }}{% endif %}. Навигация 2018. Каталог круизов и теплоходов. Цены.{% endblock %}">
		
		<!--<meta name="keywords" content="{% block keywords %}речные круизы, Москва, туры на теплоходе, круизы выходного дня, круизы по Волге, круизы по рекам, отдых на теплоходах{% endblock %}">-->
        
        <meta name="viewport" content="width=1000">
		
		{#% block stylesheets %}{% endblock %#}
		
		<meta name="cmsmagazine" content="619125e9949ce618bc64f95bc279ae48" />
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
	{% stylesheets 
	output="css/styles.css"
	
	'css/bootstrap.min.css'
	'css/bootstrap-slider.css'
	'css/style.css'
	'css/fancybox/jquery.fancybox.css'
	'css/bootstrap-theme.min.css'
	
	%}
	
		<link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
	
	{#filter='yui_css'#}
    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114860363-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-114860363-1');
		</script>
	
    </head>
    <body>
        
		{% block admin %}
		{% endblock %}
		<div class="container">
		<div class="row">

		
		<header class="header">
		<div class="header_top" >
			<a href="/" class="logo"><span>Круизный магазин</span></a>
			<div class="header-contact"><a href="tel:+74997144143" class="header-phone"><span>+7 (499) 714-41-43</span></a><br /> Москва, м.«Театральная»</div>
			<!--<div>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
					<a href="{{ path('fos_user_security_logout') }}">
						{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
					</a>
				{% else %}
				   <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
				{% endif %}
			</div>-->
		</div>
		<div>
			{{ render(controller('BaseBundle:Menu:getMenu')) }}

		</div>
		</header><!-- .header-->
{% block slider %}

{% endblock %}	


		
			<div class="container" style="background:#fff;">
			<div class="col-xs-12 search-main">
			{{ render(controller('CruiseBundle:Search:searchForm')) }}
			</div>			
			
				{% block body %}{% endblock %}
			</div>
		
			
		</div><!--.row-->
		
		<div class="row">
			<footer>
				<div class="footer-block-1"></div>
				<div class="footer-block-2">
					<div class="copyright-block">&copy; 2005 &ndash; 2018<br /> &laquo;Круизный магазин&raquo; &mdash; круизы и туры по рекам России на комфортабельных теплоходах</div>
					<div class="address-block"><ul><li><i class="fa fa-map-marker" aria-hidden="true"></i> Москва, Ветошный переулок, 5/4</li><li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a class="send-email" href="mailto:info@rechcruiz.ru">info@rechcruiz.ru</a></li><li><i class="fa fa-clock-o" aria-hidden="true"></i> пн-пт 11:00–20:00, сб 12:00–17:00</li></ul></div>
					<div class="telephone-block"><ul><li class="bottom-phone-section"><a class="phone-number" href="tel:+7 (499) 714-41-43">+7 (499) 714-41-43</a><br> <span>(отдел продаж)</span></li></ul></div>
					<div class="promo-block"><a target="_blank" rel="nofollow" href="https://www.vipseo.ru/"><img alt="VIPSEO" src="/images/vipseo-promo-white17.png" /></a></div>
					<div class="pay-block"><img src="/img/viza-sm.png"> <img src="/img/mc-sm.png"></div>
				</div>
			</footer>
		</div>
		</div><!--.container-->
		
        
		
		
{% javascripts  output='js/js.js' 'js/jquery.min.js' 'js/bootstrap.min.js' 'js/bootstrap-slider.js' 'js/jquery.fancybox.js' filter='yui_js' %}
    <script async src="{{ asset_url }}"></script>
{% endjavascripts %}		
		
		<script>
			window.onload = function() {
				$('.photo').fancybox();
				$("#days").slider({});
			{% block javascriptsonload %}{% endblock %}	
			}
		</script>
		{% block javascripts %}{% endblock %}
    
		<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter46630143 = new Ya.Metrika2({ id:46630143, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/46630143" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
	
	</body>
</html>