<div class="row">
	<div class="col-sm-3">
		<a href="{{img_main}}" class="photo">
			<img class="img-responsive" alt="" src="{{img_main}}"  />
		</a>
		<br>
		<a href="{{img_deck}}" class="photo">
			<img     style="border: 2px solid #ccc;    border-radius: 10px;    padding: 10px;" class="img-responsive" alt="" src="{{img_deck}}" />
		</a>		
		
	</div>
	<div class="col-sm-9">
		{{ship_description| raw}}
	</div>
</div><!--.row-->
